
@{
    Layout = "~/Views/Shared/Roles/_LayotAdministrador.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Area del Administrador</title>
</head>
<body>
    Soy admin!!!
</body>
</html>
