@model TP_SGIAMT.Models.TUsuario

@{
    ViewData["Title"] = "Log In";
}

@*<h2>@ViewData["Title"]</h2>*@

<!DOCTYPE html>
<!------ Include the above in your HEAD tag ---------->
<head>
    <link rel="stylesheet" href="~/css/StyleSheetLogIn.css">
    <style>
        body {
            background-color: #000000
        }
    </style>
    <body>
        <div class="Background">
            <center>
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="~/images/logo.png" id="icon" alt="LogoTUSUY" />
                    </div>
                    <!-- Login Form -->
                    <form>
                        <input asp-for="PkIuDni" type="text" id="Iniciar Sesion" class="fadeIn second" name="login" placeholder="Iniciar Sesion">

                        <input asp-for="VuContraseña" type="password" id="Contraseña" class="fadeIn second" name="login" placeholder="Contraseña">
                        
                        <input type="submit" class="fadeIn fourth" value="Ingresar">
                    </form>

                    <!-- Remind Passowrd -->
                    <div id="formFooter">
                        <a class="underlineHover" href="#">Forgot Password?</a>
                    </div>
                </div>
            </center>
        </div>
    </body>
</head>
