@{
    ViewData["Title"] = "Area Participante";
}
@{
    Layout = "~/Views/Shared/Roles/_LayoutParticipante.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Area del Participante General</title>
</head>
<body>
</body>
</html>
