
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutParticipante</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a class="active btn btn-danger" asp-controller="Acces" asp-action="Login">salir sesion</a>
            </li>
        </ul>
       
    </nav>
    
    @RenderBody()
</body>
</html>
