
@{
    Layout = "~/Views/Shared/Roles/_LayoutJurado.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Area del Jurado </title>
</head>
<body>
</body>
</html>
